* {
  font-size: 20px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block {
  width: 500px;
  min-height: 400px;
  border: 2px solid rgb(231, 245, 43);
  border-radius: 10px;
  padding: 15px;
  display: flex;
  overflow: hidden;
}

.title {
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 35px;
  color: #ccc;
}

.btn {
  padding: 5px;
  font-size: 25px;
  cursor: pointer;
  transition: all .3s;
  width: 200px;

  &:hover {
    background: rgb(241, 9, 9);
    color: #fff;
  }

  &:active {
    background: rgba(251, 235, 3, 0.89);
  }
}